{
  "credentials":[
    {
      "secret": "<your-secret>",
      "name": "example1",
      "delay": 30
    }, 
    {
      "secret": "<your-secret>",
      "name": "example2",
      "delay": 30
    }
  ]
}